.new-push {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    border-radius: var(--mantine-radius-default);
    border: 0.5px solid #dee2e6;
}

.push-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.push-controller {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 30%;
    gap: 10px;
}

.push-constructor {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.push-notification {
    max-width: 500px;
    width: 100%;
    
}